@use "sass:color";
@import "styles/theme";

.Index {
  margin-top: 40px;

  h1 {
    margin-left: 16px;
  }

  :global {
    .card {
      padding: 20px;
      border: 1px solid $gray-100;
    }

    .row {
      margin-bottom: 20px;
    }

    .alert-warning {
      text-align: center;
    }
  }

  .chartArea {
    padding-left: 0px;
  }

  .axisTitle {
    font-weight: 500;
    font-size: 1.2rem;
    font-family: $title-font;
  }

  .controlPanel {
    padding: 4px;
    height: 100%;

    .statusIndicator {
      width: 100%;
      margin-bottom: 24px;
      font-family: $title-font;

      :global {
        .input-group-text {
          border-radius: $btn-corner-radius;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          flex: 1;
        }

        .btn-group {
          .btn:focus {
            outline: none;
            box-shadow: none;
          }

          :not(.dropdown-toggle-split).btn {
            width: 92px;
            min-width: unset;
            padding-left: 14px;
            padding-right: 8px;
            text-align: left;
          }

          .dropdown-menu {
            background-color: color.adjust($lightTeal, $lightness: 35%);
            padding: 0;
            border-radius: $btn-corner-radius;
            overflow: hidden;

            a {
              padding-top: 1rem;
              padding-bottom: 1rem;
              padding-left: 32px;
              border-top: 1px solid $gray-400;
              font-size: 0.9375rem;
              color: $gray-900;
              position: relative;

              &:first-child {
                border-top: none;
              }

              &:hover:not(:local(.selected)) {
                background-color: $teal;
                color: white;
              }

              &:local(.selectedDevice) {
                background-color: color.adjust($lightTeal, $lightness: 10%);

                &:before {
                  content: "•";
                  color: color.adjust($teal, $lightness: -10%);
                  font-size: 2.5rem;
                  position: absolute;
                  top: 0%;
                  left: 8px;
                  line-height: 3.25rem;
                }
              }
            }
          }
        }

        :not(.dropdown-toggle-split).btn {
          width: 114px;
          padding: 0px 16px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        .dropdown-toggle-split {
          width: 30px;
          min-width: unset;
          padding: 0;
        }
      }

      .statusLabel {
        font-weight: 500;
        margin-right: 16px;
      }

      .status {
        font-weight: 500;
        float: right;
        display: inline-block;
        text-transform: capitalize;
      }
    }
  }

  .statistics {
    :global(.table) {
      margin-top: 30px;
    }
  }
}
