@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap");

$title-font: "Poppins", sans-serif;
$header-font: "Poppins", sans-serif;
$action-font: "Poppins", sans-serif;
$text-font: "Roboto", sans-serif;
$link-font: "Poppins", sans-serif;
